{% set asalae = salt['grains.filter_by']({
    'default': {
        'dist': {
          'url': 'https://adullact.net/frs/download.php/file/7294/asalae1.5_cakephp1.2.10.zip',
          'hash': 'md5=8b49e39ee338cbd222139aad3a294482',
        },
        'db': {
          'host': 'localhost',
          'database': 'asalae',
          'login': 'asalae',
          'password': 'asalae',
          'port': '5432',
        },
        'debug': False,
    },
}, merge=salt['pillar.get']('asalae:lookup')) %}
